<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :currency_type, style: "display: block" %>
    <%= form.select :currency_type, Order.currency_types.keys  %>
  </div>

  <div>
    <%= form.label :gross_amount, style: "display: block" %>
    <%= form.text_field :gross_amount %>
  </div>

  <div>
    <%= form.label :discount_amount, style: "display: block" %>
    <%= form.text_field :discount_amount %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id, @categories, :id, :name, {:prompt => 'Select Category'}   %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
