<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2>Doğrulama başarısız oldu: <%= pluralize(order.errors.count, "hata") %></h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="row mb-3 pb-2 mx-2 px-0 border-bottom">
        <div class="col-6 px-0">
          <%= form.label :currency_type, style: "display: block" %>
        </div>
        <div class="col-6">
          <%= form.select :currency_type, Order.currency_types.keys, {}, class: "form-select" %>
        </div>
      </div>

      <div class="row mb-3 pb-2 mx-2 px-0 border-bottom">
        <div class="col-6 px-0">
          <%= form.label :gross_amount, style: "display: block" %>
        </div>
        <div class="col-6">
          <%= form.number_field :gross_amount, step: "any", class: "form-control", required: 'true'  %>
        </div>
      </div>

      <div class="row mb-3 pb-2 mx-2 px-0 border-bottom">
        <div class="col-6 px-0">
          <%= form.label :discount_amount, style: "display: block" %>
        </div>
        <div class="col-6">
          <%= form.number_field :discount_amount, step: "any", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3 pb-2 mx-2 px-0 border-bottom">
        <div class="col-6 px-0">
          <%= form.label :category_id, style: "display: block" %>
        </div>
        <div class="col-6">
          <%= form.collection_select :category_id, Category.order(:name), :id, :name, { :prompt => 'Kategori Seçiniz' }, { class: "form-select" } %>
        </div>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
