<div class="card">
  <div class="card-header">
    <h3 class="h4">Sipariş Detayı</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <strong>Para Birimi</strong><br>
        <%= order.currency_type %>
      </div>
      <div class="col-4">
        <strong>Kategori</strong><br>
        <%= order.category ? order.category.name : '-' %>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <strong>Brüt Tutar</strong><br>
        <%= order.gross_amount %>
      </div>
      <div class="col-4">
        <strong>İndirim Tutarı</strong><br>
        <%= order.discount_amount %>
      </div>
      <div class="col-4">
        <strong>Net Tutar</strong><br>
        <%= order.net_amount %>
      </div>
    </div>
  </div>
</div>