<div id="<%= dom_id order %>">
  <p>
    <strong>Currency type:</strong>
    <%= order.currency_type %>
  </p>

  <p>
    <strong>Gross amount:</strong>
    <%= order.gross_amount %>
  </p>

  <p>
    <strong>Discount amount:</strong>
    <%= order.discount_amount %>
  </p>

  <p>
    <strong>Net amount:</strong>
    <%= order.net_amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= order.category_id %>
  </p>

</div>
