<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Siparişi düzenle", edit_order_path(@order) %> |
  <%= link_to "Siparişlere dön", orders_path %>

  <%= button_to "Sil", @order, method: :delete, class: "btn btn-danger mt-2" %>
</div>
