<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="text-danger">
      <h2>Doğrulama başarısız oldu: <%= pluralize(category.errors.count, "hata") %></h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="row mb-3 pb-2 mx-2 px-0 border-bottom">
        <div class="col-6 px-0">
          <%= form.label :name, style: "display: block" %>
        </div>
        <div class="col-6">
          <%= form.text_field :name, class: "form-control", placeholder: "Kategori Adi" %>
        </div>
      </div>
      <div class="mt-3">
        <%= link_to "Kategorilere dön", categories_path, class: "btn btn-sm btn-secondary" %>

        <%= form.submit "Kaydet",
                        class: "btn btn-sm btn-outline-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
